@model IEnumerable<Cats.Temper>

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        body {
            background-image: url(https://images.unsplash.com/photo-1517062538753-75bd89838567?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1990&q=80);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        table {
            background-color: rgba(0, 0, 0, 0.55);
            border-bottom-color: black;
        }

        .display-5 {
            color: white;
        }

        .row {
            background-color: rgba(0, 0, 0, 0.45);
            color: white;
        }

        .loc-r {
            margin-right: 4px;
        }

        .btn {
            background-color: black;
            border: 2px solid white;
        }
    </style>
</head>


<h1 class="display-5">Tempers</h1>

<p>
    <a class="display-5" asp-action="Create">Create New Temper</a>
</p>
<table class="table">
    <thead>
        <tr class="display-5">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="display-5">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    <a class="display-5" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="display-5" asp-action="Details" asp-route-id="@item.Id">Tempers&Cats</a>
                </td>
            </tr>
        }
    </tbody>
</table>
